.sbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  margin: 2%;
  width: 50%;
  height: 20%;
}

.sliderbox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
}

.slabel {
  margin-right: 5%;
  width: 4%;
}

.vlabel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 7%;
  background-color: rgb(221, 221, 221);
  border-radius: 5px;
  width: 13%;
}
